body{
    padding:none;
    background-color: rgb(252, 236, 239);
    display:flex;
    justify-content:center;
}
.container{
    height:455px;
    width:610px;
    border-radius:15px;
    display:flex;
    margin-top:80px;
    background-color: white;
}

.image img{
    height:455px;
    width:300px;
    object-fit: fill;
    border-top-left-radius:15px;
    border-bottom-left-radius: 15px;
}
.container2{
    height:470px;
    width:300px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    font-size:medium;
}



.contents{
    word-spacing: 2px;
    margin-left:12px;
    margin-left:15px;

}

.contents h3{
    color:rgba(102, 101, 101, 0.877);
    font-family:'Arial Narrow', Arial, sans-serif;
    letter-spacing: 8px;
    font-size:small;
    margin-top:25px;
}

.contents p{
    color:rgba(102, 101, 101, 0.877);
}

.price{
    display:flex;
    margin-left:13px;
}
.price h1{
    color:#3F704D;
}
.price h5{
    text-align: center;
    margin-left:15px;
    margin-top:33px;
    font-weight:lighter;
}

.cart{
    margin-left:12px;
    width:265px;
    height:50px;
    background-color:#396446;
    color:white;
    font-weight:bold;
    font-size: 14px;
    margin-left:15px;
    border:none;
    border-radius:5px;
    padding-bottom:7px;
    display:flex;
    align-items:center;
    justify-content:center;
    opacity:0.7;
}

.cart:hover{
    opacity:1;
    background-color:#223b29;
}

.cart img{
    height:13px;
    width:13px;
    padding-right:7px;
}

